* {
	margin: 0px;
	padding: 0px;
}
ul, li {
	list-style: none;
}
ul li {
	width: 200px;
	height: 100px;
	background: yellow;
	margin-bottom: 20px;
	border: 5px solid #5D43B9;
	filter: alpha(opacity: 30);
    	opacity: 0.3;
}